@import "tailwindcss";
@import "./theme.css";

/* h1 */
.contenedor__titulo {
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  color: var(--color-primary);
}

/* h2 */
.contenedor__subtitulo {
  font-family: var(--heading-h2-font-family);
  font-size: var(--heading-h2-font-size);
  font-style: var(--heading-h2-font-style);
  font-weight: var(--heading-h2-font-weight);
  letter-spacing: var(--heading-h2-letter-spacing);
  line-height: var(--heading-h2-line-height);
  color: var(--color-secondary);
}

/* Texto largo */
.contenedor__texto-largo {
  font-family: var(--text-large-font-family);
  font-size: var(--text-large-font-size);
  font-style: var(--text-large-font-style);
  font-weight: var(--text-large-font-weight);
  letter-spacing: var(--text-large-letter-spacing);
  line-height: var(--text-large-line-height);
  color: var(--color-grey-3); 
}

/* Texto normal */
.contenedor__texto-normal {
  font-family: var(--text-normal-font-family);
  font-size: var(--text-normal-font-size);
  font-style: var(--text-normal-font-style);
  font-weight: var(--text-normal-font-weight);
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  color: var(--color-grey-2);
  white-space: normal;
}

.contenedor__texto-primary {
  color: var(--color-primary);
}

/* Tarjeta con imagen */
.contenedor__tarjeta {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: var(--dropshadow); /* usa la sombra definida en root */
  padding: 12px;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Header y Footer */
.contenedor__barra-principal {
  background-color: white;
  color: var(--color-white);
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.contenedor__textfont {
  font-family: 'Baloo 2';
  font-weight: 600; 
}

/* Responsividad tarjeta */
@media (min-width: 640px) {
  .contenedor__tarjeta {
    max-width: 200px;
  }
}

@media (min-width: 1024px) {
  .contenedor__tarjeta {
    max-width: 240px;
  }
}

.contenedor__textfont {
  font-family: 'Baloo 2';
  font-weight: 700;
  line-height: 1;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 700,
    "GRAD" 0,
    "opsz" 24;
}

.icon-arrow {
  font-size: 2.5rem;
}

.icon-arrow-form {
  font-size: 2rem;
  font-weight: 800;
}

.input-error {
  border-color: #dc2626 !important;
} 

.primary-bg-color {
  background-color: var(--color-primary);
}

.primary-color {
  background-color: var(--color-primary);
}

.primary-color-hover:hover {
  background-color: rgba(10, 85, 50, 1);
}

.primary-color-nav-hover:hover {
  color: rgb(8, 168, 94);
}

.focus-primary-color:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-primary);
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}